name: Postman collection

on: 
  push:
    branches: [ master ]
    
jobs:
    build:
      runs-on: ubuntu-latest
      steps:
      - uses: actions/checkout@v1
      - run: |
          npm install -g newman 
      - run: |
          npm install -g newman-reporter-html
          
    test: # make sure the action works on a clean machine without building
      runs-on: ubuntu-latest
      needs: build
      steps: 
      - uses: actions/checkout@v1

      - name: Run Newman
        id: run-api-tests
        uses: anthonyvscode/newman-action@v1
        with:
          collection: ./Tests.postman_collection.json
          environment: ./PetStore.postman_environment.json
          path: ./reporter.html
          reporters: cli, html

      - name: Export Summary from Outputs
        run: |
          echo ${{ steps.run-api-tests.outputs.summary }}
                   
          
       
    
